{% extends 'landing/base.html' %} {% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-light">Back To Feeds</a>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            {% if profile.name %}
            <h3>{{profile.name}}</h3>
            {% else %}
            <h3>@{{profile.user.username}}</h3>
            {% endif %}
        </div>
    </div>
    {% for follower in followers %}
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-12 position-relative my-3">
            <a href="{% url 'profile' follower.profile.pk %}" class="text-decoration-none">
                <img src="{{follower.profile.picture.url}}" alt="" width="60" height="60" class="rounded-circle post-img">
            </a>
            <a href="{% url 'profile' follower.profile.pk %}" class="text-decoration-none mt-3">
                <h5>@{{follower.username}}</h5>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}